Maybe there are other addresses that can be added to the lo.network configuration file

I've been doing some research on firewalls recently, and when I was looking at the RFC6890 documentation, I found two related documents [RFC8190](https://www.rfc-editor.org/rfc/rfc8190.html) [RFC5771](https://www.rfc-editor.org/rfc/rfc5771) , and an advanced firewall configuration reference from Mikrotik RouterOS [Building Advanced Firewall](https://help.mikrotik.com/docs/display/ROS/Building+Advanced+Firewall) .

By carefully comparing the addresses contained in the address list, I found that the following addresses seem to be able to be added to the `lo.network` configuration file to achieve the effect of black hole routing.

```shell
## IPv4 Multicast address
[Route]
Destination=224.0.0.0/4
Type=unreachable
```

```shell
## IPv6 EID space for LISP
[Route]
Destination=2001:5::/32
Type=unreachable

## IPv6 Multicast Address
[Route]
Destination=ff00::/8
Type=unreachable
```